@model ShopDienTu.Models.Rank

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RankID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
